name: Keep Backend Alive

on:
  schedule:
    - cron: "*/5 * * * *" # Run every 5 minutes (GitHub minimum)
  workflow_dispatch: # Allow manual triggering

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Backend
        run: |
          curl -I https://khoojlo-backend-1.onrender.com/api/v2/products/
